body {
    background: linear-gradient(95deg, #2e22aa,#de499b);
}

/* main navigation */

.navigation {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  
}

.navigation__link {
  display: inline;
  padding: 30px;
}

/* hyperlinks */

a {
  color: white;
}
a:hover {
  color: purple;
}
a:active {
  color: rgb(243, 8, 8);
}

/* header */

.header__title {
  color: white;
  font-size: 35px;
  text-align: center;
}

.header__span {
  color: #fdf900;
  font-size: 35px;
}

/* section */

.about {
    background: rgba(128, 122, 136, 0.582);
    border-radius: 15px;
    border-color: rgb(222, 215, 228);
    border-style: solid;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 140px 20px 140px;
  }

/* flex */

.about__description--flex {
  display: flex;
  justify-content: space-between;
}

.about__column {
  background: rgba(255,255,255,0.1);
  display:inline-block;
  height: 205px;
  padding: 5px;
}

.about__photograph {
  padding-right: 579px;
}

/* h2 - about */

.about__header {
  color: rgb(250, 209, 233);
}

/* article */

.about__description {
  color: #ffffff;
}
.about__description--heading {
  color: rgb(255, 155, 6);
  text-transform: uppercase;
  font-size: 20px;
}

/* week summary navi */

.week__navi {
  background: rgba(255,255,255,0.4);
  color: #ffffff;
  display:inline-block;
  width: 200px;
  height: 80px;
  padding: 25px;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 4px;
  margin-left: 4px;
  box-sizing: border-box; 
  position: relative;
}
.week__navi--insert {
  position:absolute;
  top: 30px;
  left: 55px;
}

/* week-summary */

.week-summary {
  color: #ffffff;
}

.week-summary__description--special {
  color: orange;
  font-size: 18px;
}

.week-summary__heading {
  color: rgb(255, 155, 6);
  text-transform: uppercase;
  font-size: 20px;
}

.week-summary__subheading {
  color: rgb(255, 212, 22);
  font-size: 20px;
}

/* footer */

#footer {
  background: black;
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: 140px;
  margin-right: 140px;
}