body {
    background: linear-gradient(95deg, #2e22aa,#de499b);
}

/* main navigation */

.navigation {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

.navigation__link {
  display: inline;
  padding: 30px;
}

/* hyperlinks */

a {
  color: white;
}
a:hover {
  color: purple;
}
a:active {
  color: rgb(243, 8, 8);
}

/* header */

.header__title {
  color: white;
  font-size: 35px;
  text-align: center;
}

.header__span {
  color: #fdf900;
  font-size: 35px;
}
.div {
  display: flex;
  justify-content: space-between;
}

/* section */

.section {
    background: rgba(128, 122, 136, 0.582);
    border-radius: 15px;
    border-color: rgb(222, 215, 228);
    border-style: solid;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 140px 20px 140px;
  }

/* h2 - about */

.about {
  color: rgb(250, 209, 233);
}

/* article */

.description {
  color: #ffffff;
}
.description__heading {
  color: rgb(255, 155, 6);
  text-transform: uppercase;
  font-size: 20px;
}
.purple-dotting {
  color: purple;
  margin-left: 10px;
  line-height: 1.5em;
}

/* week-summary */

.week-summary {
  color: #ffffff;
}

.week-summary__description--special {
  color: orange;
  font-size: 18px;
}

.week-summary__heading {
  color: rgb(255, 155, 6);
  text-transform: uppercase;
  font-size: 20px;
}

.week-summary__subheading {
  color: rgb(255, 212, 22);
  font-size: 20px;
}

/* footer */

#footer {
  background: black;
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: 140px;
  margin-right: 140px;
}
